<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5xvjvrHk5ThBkC3LbY6ce9r1E0aNhQe4</string>
	<key>GCM_SENDER_ID</key>
	<string>392533223139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundryEase</string>
	<key>PROJECT_ID</key>
	<string>laundry-69cf1</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-69cf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392533223139:ios:0f5edea5fe7e8b534607d6</string>
</dict>
</plist>